<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Listings</title>
</head>
<body>

  <% if (!noNavbar) { %>
    <%- include('../partials/navbar') %>
  <% } %>

  <!-- <h2>My Listings</h2> -->
  <%- include('../partials/browse-listings', { listings: listings, fromSearch: false, source: 'myListings', isMyListings: true }) %>

</body>
</html>
